.container {
width: 1200px;
margin: 0 auto;
}

.logo {
font-family: 'Montserrat', sans-serif;
color: #95e1d3;
font-size: 30px;
font-weight: 700;
text-decoration: none;
}

.site-navigation {
display: flex;
min-height: 90px;
justify-content: space-between;
align-items: center;
}

.navigation-list {
display: flex;
}

.navigation-list a:hover {
color: #f38181;
transition: all 200ms linear;
} 

.navigation-list :after {
content: "";
display: block;
width: 100%;
height: 4px;
margin-top: 12px;
background-color: #f38181;
opacity: 0;
}

.navigation-list a:hover:after {
background-color: #f38181;
opacity: 1;
}

.navigation-list-item {
display: block;
font-size: 14px;
font-family: 'Montserrat', sans-serif;
}

.navigation-list-link {
text-decoration: none;
padding: 23px;
color: #95e1d3;
font-weight: 400;
text-transform: uppercase;
display: block;
}

.heading {
font-size: 30px;
color: #000;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
text-align: center;
text-transform: uppercase;
padding-top: 25px;
margin-bottom: 60px;
}

.subheading {
    display: block;
font-family: 'Kaushan Script', cursive;
font-size: 24px;
color: #000;
font-weight: 400;
text-align: center;
padding-top: 90px;
padding-bottom: 22px;
}

.heading::after {
content: "";
display: block;
width: 60px;
height: 3px;
margin: 43px auto 0;
background-color: #f38181;
}

.img0::after {
content: "";
background: url("../img/ALARM.png");
background-repeat: no-repeat;
position: absolute;
width: 34px;
height: 34px;
left: 0;
}

.img1::after {
content: "";
background-image: url("../img/LINE GRAPH.png");
background-repeat: no-repeat;
position: absolute;
width: 34px;
height: 34px;
left: 0;
}
.img2::after {
content: "";
background-image: url("../img/COMPUTER _ OK.png");
background-repeat: no-repeat;
position: absolute;
width: 34px;
height: 34px;
left: 0;
}
.img3::after {
content: "";
background-image: url("../img/BOOK 2.png");
background-repeat: no-repeat;
position: absolute;
width: 34px;
height: 34px;
left: 0;
}
.img4::after {
content: "";
background-image: url("../img/HOME.png");
background-repeat: no-repeat;
position: absolute;
width: 34px;
height: 34px;
left: 0;
}
.img5::after {
content: "";
background-image: url("../img/IMAGE.png");
background-repeat: no-repeat;
position: absolute;
width: 34px;
height: 34px;
left: 0;
}

.offers {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.offer_item {
width: 400px;
margin-bottom: 90px;
position: relative;
}

.offer_name {
font-size: 14px;
color: #000;
font-family: 'Montserrat', sans-serif;
margin-left: 25px;
text-transform: uppercase;
margin-bottom: 20px;
padding-left: 30px;
display: inline-block;
}

.offer_descr {
font-size: 15px;
line-height: 24px;
color: #b3b3b3;
font-family: 'Roboto', sans-serif;
padding-left: 60px;
}

.heading_part {
text-align: center;
}

.subheading1 {
font-size: 30px;
color: #000;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
text-align: center;
text-transform: uppercase;
padding-top: 25px;
margin-bottom: 60px;
}
    
.heading1 {
font-family: 'Kaushan Script', cursive;
font-size: 24px;
color: #000;
font-weight: 400;
text-align: center;
padding-top: 90px;
padding-bottom: 22px;
}
    
.subheading1::after {
content: "";
display: block;
width: 60px;
height: 3px;
margin: 43px auto 0;
background-color: #f38181;
}

.subtitle {
font-size: 15px;
line-height: 24px;
color: #999999;
font-family: 'Roboto', sans-serif;
text-align: center;
}

.team {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding-top: 93px;
}

.team-list {
position: relative;
width: 380px;
margin-bottom: 30px;
}

.pic {
position: relative;
width: 380px;
height: 470px;
margin-bottom: 30px;
}

.member {
font-size: 14px;
color: #333333;
font-family: 'Montserrat', sans-serif;
text-align: center;
text-transform: uppercase;
margin-bottom: 15px;
}

.position {
font-size: 15px;
color: #9f9f9f;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-style: italic;
text-align: center;
}

.gradient {
width: 380px;
height: 470px;
background-image: linear-gradient(rgba(238,137,137,0.9), rgba(238,214,135,0.9));
position: absolute;
top: 0;
box-shadow: 10px 10px #95e1d3;
transition: 200ms;
opacity: 0;
}

.pic:hover > .gradient {
opacity: 1;
transform: translate(-10px, -10px);
transition: all 200 ms linear;
}

.icon_item {
width: 55px;
height: 56px;
background-color: #fce38a;
position: relative;
transition: 200ms;
opacity: 1;
}

.icons {
display: flex;
justify-content: space-between;
width: 223px;
position: absolute;
top: 206px;
right: 79px;
}

/* .icon_img {
position: absolute;
top: 15px;
right: 16px;
} */

.bg_imgfb {
background-image: url("../img/facebook.png");
background-repeat: no-repeat;
background-position: 20px 10px;
/* background-size: 100%; */
/* height: 56px; */
/* background-size: cover; */
}

.bg_imgtw {
background-image: url("../img/twitter.png");
background-repeat: no-repeat;
background-position: 15px 13px;
/* background-size: 100%; */
/* height: 56px; */
/* background-size: cover; */
}

.bg_imgpt {
background-image: url("../img/pinterest.png");
background-repeat: no-repeat;
background-position: 15px 12px;
/* background-size: 100%; */
/* height: 56px; */
/* background-size: cover; */
}

.bg_imginst {
background-image: url("../img/instagram.png");
background-repeat: no-repeat;
background-position: 12px 12px;
/* background-size: 100%; */
/* height: 56px; */
/* width: 25px; */
/* background-size: cover; */
}

.icon_item:hover {
background-color: #95e1d3;
}

.creator {
padding-top: 12px;
font-size: 14px;
color: #333333;
font-family: 'Montserrat', sans-serif;
}
.creator_name {
color: #f6a0a0;
}

.additional_info {
border: 1px solid #e5e5e5;
display: flex;
justify-content: space-between;
padding: 10px 0;
}

form {
display: flex;
justify-content: space-between;
width: 310px;
}

.input_ {
font-size: 15px;
color: #d9d9d9;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-style: italic;
width: 150px;
height: 36px;
padding: 0;
margin: 0;
}

.submit_ {
font-size: 14px;
color: #ffffff;
background-color: #95e1d3;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
text-align: center;
width: 150px;
height: 40px;
border: none;
margin: 0;
}