$yellow-color: #fce38a;
$red-color: #f38181;
$grey-color: #999999;
$black-color: #000;
$blue-color: #95e1d3;
$white-color: #fff;
$darkgrey-color: #333333;
$darkred-color: #aa2b2b;
$lightgrey-color: #b3b3b3;